# Database
DATABASE_URL=postgresql://neondb_owner:npg_uDVIUF1n0Zje@ep-muddy-silence-a2o47z8h-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Server
PORT=3000
NODE_ENV=production

# Client
VITE_API_URL=https://cci-planning.vercel.app
